html, body, {
    height: 100%;
	background-color:grey;
}

.header {
   position:   relative;
    top:        2%;
    height:     15%;
    width:      97.5%;
    background: #00275E;
	padding: 5px;
	border-style: ridge;
	border-color:#000000;
	border-width: 5px;
}

.header2 {
    position:   relative;
	top:		20%;
    height:     8%;
    width:      97.5%;
    background: #4671DB;
	padding: 5px;
	border-style: ridge;
	border-color:#000000;
	border-width: 5px;
}

.queries {
   position:   relative;
	top:		31%;
    height:     3%;
    width:      97.5%;
    background: #C0C0C0;
	padding: 5px;
	border-style: ridge;
	border-color:#000000;
	border-width: 5px;
}

.cssBody {
   position:   relative;
   	min-height: 70%;
    top:        37%;
    height:		62%;
    width:      97.5%;
    
    
    
    background: #6C8CD5;
	padding: 5px;
	border-style: ridge;
	border-color:#000000;
	border-width: 5px;
}

.tblQueryData{
		width:100%; 
		border-collapse:collapse; 
	}
	.tblQueryData td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	/* provide some minimal visual accomodation for IE8 and below */
	.tblQueryData tr{
		background: #b8d1f3;
	}
	/*  Define the background color for all the ODD background rows  */
	.tblQueryData th:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
	.tblQueryData th:nth-child(even){
		background: #dae5f4;
	}

.tableheader{

    text-align:center; 
    vertical-align:middle;

}

.buttons {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.buttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.buttons:active {
	position:relative;
	top:1px;
	
	
	
}.dropdown select {
       border: 0 !important;             /*Removes border*/
      -webkit-appearance: none;            /*Removes default chrome and safari style*/
      -moz-appearance: none;             /* Removes Default Firefox style*/
      background: url('dropdown_arrow.png') no-repeat;          /*Adds background-image*/
      background-position: 82px 7px;           /*Position of the background-image*/
      width: 100px;            /    *Width of select dropdown to give space for arrow image*/
      text-indent: 0.01px;          /* Removes default arrow from firefox*/
      text-overflow: "";               /*Removes default arrow from firefox*/
}